RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

AuthType Basic
AuthName "Password Protected Area"
AuthUserFile C:\wamp64\www\sunzinet\htaccess_pass\.htpasswd
Require valid-user

