<header>
    <!-- Settings Logout section -->
    <nav>
        <div class="container">
            <ul class="nav navbar-nav navbar-right">
                <li >
                    <div class="user_info">
                        <span>Logged in as</span>
                        <span><strong>{{ user }}</strong></span>
                    <div>
                </li>
                <li><button class="btn btn-danger logout-button" data-ng-click="logOut()">Logout</button></li>
                <li>
                    <div class="logout" data-toggle="dropdown">
                        <i class="fa fa-bars"></i>
                    </div>
                    <ul class="dropdown-menu">
                        <!--<li ui-sref="login"><a href="#" >Logout</a></li>-->
                        <li data-ng-click="settingsModal();"><a href="javascript:void(0)">Settings</a></li>
                        <li><a href="javascript:void(0)">Manual</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav><!-- /Settings Logout section -->
    
    <!-- Logo Section -->
    <div class="logo-area">
        <div class="container">
            <div class="col-xs-12">
                <img src="/public/assets/img/logo.png" /><span>Content Tool</span>
            </div>
        </div>
    </div><!-- /Logo Section -->
    <div class="container board-legend">
        <div class="pull-right" style="right:5%;position:relative">
            <label class="open_status text"></label>
            <label class="delivered text"></label>
            <label class="transferred text"></label>
            <label class="modified text"></label>
            <label class="released text"></label>
            <div>
                <label>Open</label>
                <label>Delivered</label>
                <label>Transferred</label>
                <label>Modified</label>
                <label>Released</label>
            </div>
        </div>
    </div> 
</header>
<div class="body-app-container">
    <div class="container">
        <!-- Board Navigation Menu -->
        <!--<button data-ng-click="unlockboard()">Unlock</button>-->
        <nav class="navbar navbar-default navbar-static-top nav-bar-overiding no-bottom-margin" >
            <ul class="nav navbar-nav"> 
                <li ng-repeat="(index, board_name) in $parent.boards_names" ng-class="{'active': $index === selected_index}"  ng-if="$index<tab_limit" ui-sref="boardDetails({index:index ,id: board_name.id})">
                    <a href="#" >{{board_name.name}}<span ng-if="board_name.user.length != 0 && board_name.user != user" class="badge progress-bar-danger badge-absolute"><i class="fa fa-lock"></i></span></a>
                </li> <!-- ng-click="setSelectedIndex($index)" -->
                <li ng-show="$parent.boards_names.length > tab_limit">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        More Boards <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2" >
                        <li ng-repeat="(index, board_name) in $parent.boards_names" ng-if="$index>=tab_limit" ui-sref="boardDetails({index:index ,id: board_name.id})" ><a href="#" >{{ board_name.name }}</a></li>
                    </ul>
                </li>
                <li><button class="btn btn-default dropdown-toggle" type="button" data-toggle="modal" data-target="#newBoardModal" ng-click="changeModalStatus('board')" ><i class="fa fa-plus"></i></li>
            </ul>
        </nav><!-- /Boardn Navigation Menu -->
            <!--<pre>{{ board | json }}</pre>-->
        <div class="content-tool-body clearfix">
            <!-- A SIDE -->
            <div class="pull-left aside">
                <div class="nested-list-container">
                <!-- <h1>{{ board.name}}</h1>-->
                    <button class="btn btn-primary login-btn color-btn pull-right new-page" ng-click="addNewPage()" >ADD NEW PAGE <i class="fa fa-file-text-o"></i></button>
                    <div ui-tree data-drag-enabled="tree.enabled" data-drag-delay="200" id="tree-root" ng-if="data.length>0">
                        <ol ui-tree-nodes="" ng-model="data" >
                            <li ng-repeat="node in data" ui-tree-node ng-include="'nodes_render'" ></li>
                        </ol>
                    </div>
                </div>
            </div>    
            <!-- /A SIDE -->
            <!-- B SIDE -->
            <div class="pull-left bside"><!--  -->
                <div style="height:100%;position:relative;overflow-x:hidden">
                    <div class="bside-container">
        
                        <!-- B Side Close Button-->
                        <div class="close-handle" ng-click="closeSidebar($event)" >
                        <i class="fa fa-angle-left fa-2x" ng-class="{'fa-angle-right': close_sidebar, 'fa-angle-left': !close_sidebar}"></i> 
                        </div><!-- /B Side Close Button-->
        
                        
                        <!-- Upload file section-->
                        <div class="sidebar-content-wrapper">
                            <h2>{{temporary_node.title}}</h2>
                            <p class="breadcrumb">
                                <span ng-repeat="($index, breadcrumb) in breadcrumbs track by $index">{{ breadcrumb }}  <i class="fa fa-angle-right"></i> </span>
                                <span>{{temporary_node.title}}</span>
                            </p>
                            <!--status of the site section -->
                            <div class="dropdown" style="display:inline-block">
                                <button class="btn btn-default dropdown-toggle btn-line-height" type="button"  id="statuses" ng-if="board.edit_board==='edit'" data-toggle="dropdown">Status of the page <i class="fa fa-angle-down"></i></button>
                                 <button class="btn btn-default dropdown-toggle btn-line-height" type="button" disabled ng-if="board.edit_board==='no_edit'"  id="statuses">Status of the page <i class="fa fa-angle-down"></i></button>
                                <ul class="dropdown-menu" role="status" aria-labelledby="statuses">
                                    <li ng-click="changeStatus('open')"><a href="javascript:void(0)"><i class="fa" ng-class="{'fa-square-o': temporary_node.status != 'open', 'fa-check-square-o': temporary_node.status == 'open'}"></i> Open</a></li>
                                    <li ng-click="changeStatus('delivered')"><a href="javascript:void(0)" ><i class="fa" ng-class="{'fa-square-o': temporary_node.status != 'delivered', 'fa-check-square-o': temporary_node.status == 'delivered'}"></i> Delivered</a></li>
                                    <li ng-click="changeStatus('transferred')"><a href="javascript:void(0)"><i class="fa" ng-class="{'fa-square-o': temporary_node.status != 'transferred', 'fa-check-square-o': temporary_node.status == 'transferred'}"></i> Transfered</a></li>
                                    <li ng-click="changeStatus('modified')"><a href="javascript:void(0)"><i class="fa" ng-class="{'fa-square-o': temporary_node.status != 'modified', 'fa-check-square-o': temporary_node.status == 'modified'}"></i> Modified</a></li>
                                    <li ng-click="changeStatus('released')"><a href="javascript:void(0)"><i class="fa" ng-class="{'fa-square-o': temporary_node.status != 'released', 'fa-check-square-o': temporary_node.status == 'released'}"></i> Released</a></li>
                                </ul>
                            </div>
                            <hr />
                            <!-- File Uplad Component -->
                            <file-upload></file-upload><!-- /File Uplad Component -->
                        </div><!-- Upload file section-->
        
                        <!-- File Table Header -->
                        <div class="file-table-header">
                            <div class="row">
                                <div class="col-md-3">Status</div>
                                <div class="col-md-6">Details</div>
                                <div class="col-md-3">
                                    <!--<a ng-if="temporary_node.files || temporary_node.files.length===0" href="download_zip?url={{ setDownloadFolder(temporary_node.files[0].file_path) }}&page_name={{temporary_node.title.replace(' ', '_')}}">Download All (zip)</a>-->
                                    <a href="javascript:void(0)" ng-click="downloadZip()"><i class="fa  fa-download "></i> Download All (zip)</a>
                                </div>
                            </div>
                        </div><!-- /File Table Header -->
        
                        <!-- File Table Content Wrapper-->
                        <div class="file-content-wrapper">
                            <div  ng-if="!temporary_node.files && temporary_node.files.length!==0">
                                 <div class="no-file">
                                     <span class="fa-stack fa-lg">
                                    <i class="fa fa-file-text-o fa-stack-1x"></i>
                                    <i class="fa fa-ban fa-stack-2x text-danger"></i>
                                </span> 
                                <span>There is no inserted files for this page</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div ng-repeat="($index, file) in temporary_node.files track by $index">
                                    <div class="row">
                                        <!-- Status Column -->
                                        <div class="col-md-2">
                                            <div  id="statuses" class="file-statuses" data-toggle="dropdown" ng-if="board.edit_board==='edit'">
                                                <span class="file-status"  ng-class="{'open_status': file.file_status==='open', 'delivered': file.file_status==='delivered', 'transferred': file.file_status==='transferred', 'modified': file.file_status==='modified', 'released': file.file_status==='released'}"></span>
                                                <span><i class="fa fa-angle-down angle-down"></i></span>
                                            </div>
                                             <div  id="statuses" class="file-statuses" ng-if="board.edit_board==='no_edit'">
                                                <span class="file-status"  ng-class="{'open_status': file.file_status==='open', 'delivered': file.file_status==='delivered', 'transferred': file.file_status==='transferred', 'modified': file.file_status==='modified', 'released': file.file_status==='released'}"></span>
                                                <span><i class="fa fa-angle-down angle-down"></i></span>
                                            </div>
                                            <ul class="dropdown-menu" role="status" aria-labelledby="statuses">
                                                <li ng-click="changeFileStatus($index, 'open')"><a href="javascript:void(0)"><i class="fa" ng-class="{'fa-square-o': file.file_status != 'open', 'fa-check-square-o': file.file_status == 'open'}"></i> Open</a></li>
                                                <!--<li ng-click="changeFileStatus($index, 'delivered')"><a href="javascript:void(0)" ><i class="fa" ng-class="{'fa-square-o': file.file_status != 'delivered', 'fa-check-square-o': file.file_status == 'delivered'}"></i> Delivered</a></li-->
                                                <li ng-click="changeFileStatus($index, 'transferred')"><a href="javascript:void(0)"><i class="fa" ng-class="{'fa-square-o': file.file_status != 'transferred', 'fa-check-square-o': file.file_status == 'transferred'}"></i> Transfered</a></li>
                                                <li ng-click="changeFileStatus($index, 'modified')"><a href="javascript:void(0)"><i class="fa" ng-class="{'fa-square-o': file.file_status != 'modified', 'fa-check-square-o': file.file_status == 'modified'}"></i> Modified</a></li>
                                                <li ng-click="changeFileStatus($index, 'released')"><a href="javascript:void(0)"><i class="fa" ng-class="{'fa-square-o': file.file_status != 'released', 'fa-check-square-o': file.file_status == 'released'}"></i> Released</a></li>
                                            </ul>
                                        </div><!-- Status Column -->
                                        <!--file info column-->
                                        <div class="col-md-8">
                                            <div class="file-name-container"><strong>{{ file.file_name }}</strong></div>
                                            <div>{{ file.file_date | toDate | date:"dd.MM.yy"}} | {{ file.user }}</div>
                                            <div class="file-comment">{{ file.file_comment}}</div>
                                            </div>
                                        <div class="col-md-2"><!--file info column-->
                                            <!-- file Actions-->
                                            <div class="file-actions">
                                                <a href="javascript:void(0)" ng-click="delete_file($index)" ng-if="board.edit_board==='edit'" ><i class="fa fa-trash-o"></i></a> <!---->
                                                <a href="javascript:void(0)"  ng-if="board.edit_board==='no_edit'" ><i class="fa fa-trash-o"></i></a>&nbsp;&nbsp; <!--confirm-click="Would you like to delete this file?"-->
                                                <!--<a href="file_download?mime={{ file.file_name | fileExtension }}&title={{ file.file_name }}&token={{file.file_path | Base64encode}}"><i class="fa  fa-download "></i></a>-->
                                        
                                                <a download="{{file.file_name}}" href="{{file.file_path}}">
                                                    <i class="fa  fa-download "></i>
                                                </a>
                                            </div><!-- file Actions-->
                                        </div>
                                    </div>
                                    <hr ng-if="$index !== temporary_node.files.length - 1" />
                                </div>
                            </div>
                        </div><!-- /File Table Content Wrapper-->
        
        
                        <div class="sidebar-content-wrapper">
                            <div class="form-group input-group">
                                <input type="text"  ng-if="board.edit_board==='edit'" class="form-control" placeholder="Enter the URL of the old page..." id="old_page_url"  >
                                <input type="text"  ng-if="board.edit_board==='no_edit'" class="form-control" disabled placeholder="Enter the URL of the old page..."   >
                                <label class="input-group-btn">
                                    <span class="btn btn-default" ng-if="board.edit_board==='edit'" ng-click="saveOldLink()">
                                        Save <i class="fa fa-lock "></i> 
                                    </span>
                                    <span class="btn btn-default" ng-if="board.edit_board==='no_edit'" >
                                        Save <i class="fa fa-lock "></i> 
                                    </span>
                                </label>
                            </div>
                            <label class="form-group">
                                <input type="checkbox" ng-if="board.edit_board==='edit'" id="transfer_oldcontent"/>
                                <input type="checkbox" ng-if="board.edit_board==='no_edit'" disabled   /> Transfer the content completely from the old page
                            </label>
                            <div class="form-group"> 
                                <button ng-if="board.edit_board==='edit'" type="button" ng-click="deleteSelectedPage()"  class="btn btn-default btn-stretched" ><i class="fa fa-trash-o fa-2x"></i></button>
                                <button ng-if="board.edit_board==='no_edit'" type="button"  class="btn btn-default btn-stretched" ><i class="fa fa-trash-o fa-2x"></i></button> <!--confirmed-click="deletePage()" confirm-click="Would you like to delete this page?"-->
                            </div>
                        </div>
        
                    </div>
                </div>
            </div><!-- /B SIDE -->
        </div>
    </div>
</div>
<!-- Settings Modal Component -->
<settings change-title="changeBoardTitle(title)" del-board="boardDelete()" board-name="{{board.name}}"></settings><!-- /Settings Modal Component -->
<!-- New Board Modal -->
<new-board modal-status="modal_status" change-status="changeModalStatus(status)" board-length="$parent.boards_names.length" board="$parent.boards_names" transfering-board="transferBoard(name, index)" add-new-board="addNewBoard(name, index)"></new-board><!-- /New Board Modal -->
<!-- Delete Page Modal Component -->
<delete-page-modal></delete-page-modal><!-- /Delete Page Modal Component -->
<!-- Delete Page Conformation Component -->
<delete-page-confirmation></delete-page-confirmation><!-- /Delete Page Conformation Component -->
<!--<pre>{{temporary_node | json}}</pre>-->
<confirm-delete-file confirm-delete-action="confirmDeleteFile(index)" delete-file-index="fileIndex"></confirm-delete-file>

<stay-lock-modal confirm-delete-action="confirmDeleteFile(index)" delete-file-index="fileIndex"></stay-lock-modal>

<lock-board-modal></lock-board-modal>