<style>
    .dropdown-menu>li>a.fake-status{
        clear: both;
        font-weight: 400;
        color: #ccc;
    }
    .fake-fileinput{
        height:32px !important;
        border: 1px solid #ccc;
    border-left: none;
    }
    .line-div{
        position:absolute;
        border-right:1px solid #ccc;  
        top:0%; 
        margin-top:-10px;
        margin-left:-11px
    }   
    .handle-content::before{
        content:"";
        width:12px;
        position:absolute;
        margin-top:20px;
        border-top:1px solid #ccc;
        margin-left: -12px
    }
</style>

<header>
    <!-- Settings Logout section -->
    <nav>
        <div class="container">
            <ul class="nav navbar-nav navbar-right">
                <li >
                    <div class="user_info">
                        <span>Logged in as</span>
                        <span><strong>{{ user }}</strong></span>
                    <div>
                </li>
                <li><button class="btn btn-danger logout-button" data-ng-click="logOut()">Logout</button></li>
                <li>
                    <div class="logout" data-toggle="dropdown">
                        <i class="fa fa-bars"></i>
                    </div>
                    <ul class="dropdown-menu">
                        <!--<li ui-sref="login"><a href="#" >Logout</a></li>-->
                        <li data-ng-click="settingsModal();"><a href="javascript:void(0)">Settings</a></li>
                        <li><a href="javascript:void(0)">Manual</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav><!-- /Settings Logout section -->
    
    <!-- Logo Section -->
    <div class="logo-area">
        <div class="container">
            <div class="col-xs-12">
                <img src="/public/assets/img/logo.png" /><span>Content Tool</span>
            </div>
        </div>
    </div><!-- /Logo Section -->
    <div class="board-legend">
        <div class="container">
            <div class="board-legend-inner">
                <div>
                    <span class="open_status legend-narrow"></span>
                    <span class="delivered"></span>
                    <span class="transferred"></span>
                    <span class="modified"></span>
                    <span class="released"></span>
                </div>
                <div>
                    <label class="legend-narrow">Open</label>
                    <label>Delivered</label>
                    <label>Transferred</label>
                    <label>Modified</label>
                    <label>Released</label>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="body-app-container">
    <div class="container">
        <!-- Board Navigation Menu -->
        <!--<button data-ng-click="unlockboard()">Unlock</button>-->
        <nav class="navbar navbar-default navbar-static-top nav-bar-overiding">
            <ul class="nav navbar-nav"> 
                <li ng-repeat="(index, board_name) in $parent.boards_names" ng-class="{'active': $index === selected_index}"  ng-if="$index<tab_limit" ui-sref="boardDetails({index:index ,id: board_name.id})">
                    <a href="#" >{{board_name.name}}<span ng-if="board_name.user.length != 0 && board_name.user != user" class="badge progress-bar-danger badge-absolute"><i class="fa fa-lock"></i></span></a>
                </li> <!-- ng-click="setSelectedIndex($index)" -->
                <li ng-show="$parent.boards_names.length > tab_limit">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        More Boards <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2" >
                        <li ng-repeat="(index, board_name) in $parent.boards_names" ng-if="$index>=tab_limit" ui-sref="boardDetails({index:index ,id: board_name.id})" ><a href="#" >{{ board_name.name }}</a></li>
                    </ul>
                </li>
                <li><button class="btn btn-transparent btn-new dropdown-toggle" type="button" data-toggle="modal" data-target="#newBoardModal" ng-click="changeModalStatus('board')" >+</li>
            </ul>
        </nav><!-- /Boardn Navigation Menu -->

        
        <div class="content-tool-body clearfix" >
            <!-- A SIDE -->
            <div class="aside">
                <div class="nested-list-container">
                    <button class="btn btn-primary login-btn btn-primary new-page" ng-click="addNewPage()" >Add new page<span class="ico ico-new"></span></button>
                    <div data-ui-tree="treeOptions" data-drag-enabled="tree.enabled" data-drag-delay="200" id="tree-root" ng-if="data.length>0">
                        <ol ui-tree-nodes="" ng-model="data" class="first_olelement">
                            <li ng-repeat="node in data" ui-tree-node ng-include="'nodes_render'" ></li>
                        </ol>
                    </div>
                </div>
            </div>    
            <!-- /A SIDE -->
            <!-- B SIDE -->
            <div class="bside">
                <!-- B Side Close Button-->
                <div class="close-handle" ng-click="closeSidebar($event)" >
                    <i class="fa fa-angle-left fa-2x" ng-class="{'fa-angle-right': close_sidebar, 'fa-angle-left': !close_sidebar}"></i> 
                </div><!-- /B Side Close Button-->
                <div class="bside-container">
                    <!-- Upload file section-->
                    <div class="sidebar-content-wrapper">
                        <h2>{{temporary_node.title}}</h2>
                        <p class="breadcrumb">
                            <span ng-repeat="($index, breadcrumb) in breadcrumbs track by $index">{{ breadcrumb }}<i class="fa fa-angle-right"></i></span>
                            <span>{{temporary_node.title}}</span>
                        </p>
                        <!--status of the site section -->
                        <div class="dropdown change-status" ng-if="temporary_node.files">
                            <button class="btn btn-default dropdown-toggle" type="button"  id="statuses" ng-if="board.edit_board==='edit'" data-toggle="dropdown">Status of the page <i class="fa fa-angle-down"></i></button>
                             <button class="btn btn-default dropdown-toggle btn-line-height" type="button" disabled ng-if="board.edit_board==='no_edit'"  id="statuses">Status of the page <i class="fa fa-angle-down"></i></button>
                            <ul class="dropdown-menu" role="status" aria-labelledby="statuses">
                                <li ng-click="changeStatus('open')" ng-class="{'active' : temporary_node.status === 'open'}"><a href="javascript:void(0)"><span class="open_status"></span>Open</a></li>
                                <li ng-click="changeStatus('delivered')" ng-class="{'active' : temporary_node.status === 'delivered'}"><a href="javascript:void(0)" ><span class="delivered"></span>Delivered</a></li>
                                <li  ng-click="changeStatus('transferred')" ng-class="{'active' : temporary_node.status === 'transferred' }" ng-if="pageStatusLimit==='transferred' || pageStatusLimit==='modified' || pageStatusLimit==='released'"><a href="javascript:void(0)"><span class="transferred"></span>Transfered</a></li>
                                <li style="color:#ccc" ng-if="pageStatusLimit!='transferred' && pageStatusLimit!='modified' && pageStatusLimit!='released'" ><a href="javascript:void(0)" class="fake-status"><span class="transferred"></span>Transferred</a></li>
                                <li ng-click="changeStatus('modified')" ng-class="{'active' : temporary_node.status =='modified' }" ng-if="pageStatusLimit==='modified' || pageStatusLimit==='released'"><a href="javascript:void(0)"><span class="modified"></span>Modified</a></li>
                                <li ng-if="pageStatusLimit!=='modified' && pageStatusLimit!=='released'"><a href="javascript:void(0)" class="fake-status"><span class="modified"></span>Modified</a></li>
                                <li ng-click="changeStatus('released')" ng-class="{'active' : temporary_node.status =='released' }"  ng-if="pageStatusLimit==='released'"><a href="javascript:void(0)"><span class="released"></span>Released</a></li>
                                <li ng-if="pageStatusLimit!=='released'"><a href="javascript:void(0)" class="fake-status"><span class="released"></span>Released</a></li>
                            </ul>
                        </div>
                        <div class="dropdown change-status"  ng-if="!temporary_node.files">
                            <button class="btn btn-default dropdown-toggle" type="button"  id="statuses" data-toggle="dropdown">Status of the page <i class="fa fa-angle-down"></i></button>
                             
                            <ul class="dropdown-menu" role="status" aria-labelledby="statuses">
                                <li ng-click="changeStatus('open')" ng-class="{'active' : temporary_node.status === 'open'}"><a href="javascript:void(0)"><span class="open_status"></span>Open</a></li>
                                <li ng-click="changeStatus('delivered')" ng-class="{'active' : temporary_node.status === 'delivered'}"><a href="javascript:void(0)"><span class="delivered"></span>Delivered</a></li>
                                <li  ng-click="changeStatus('transferred')" ng-class="{'active' : temporary_node.status === 'transferred'}"><a href="javascript:void(0)"><span class="transferred"></span>Transfered</a></li>
                                <li ng-click="changeStatus('modified')" ng-class="{'active' : temporary_node.status === 'modified'}"><a href="javascript:void(0)"><span class="modified"></span>Modified</a></li>
                                <li ng-click="changeStatus('released')" ng-class="{'active' : temporary_node.status === 'released'}"><a href="javascript:void(0)"><span class="released"></span>Released</a></li>
                                
                            </ul>
                        </div>
                        <hr />
                        <!-- File Uplad Component -->
                        <file-upload></file-upload><!-- /File Uplad Component -->
                    </div><!-- Upload file section-->
    
                    <!-- File Table Header -->
                    <div class="file-table-header">
                        <div class="row">
                            <div class="col-md-2">Status</div>
                            <div class="col-md-5">Details</div>
                            <div class="col-md-5">
                                <!--<a ng-if="temporary_node.files || temporary_node.files.length===0" href="download_zip?url={{ setDownloadFolder(temporary_node.files[0].file_path) }}&page_name={{temporary_node.title.replace(' ', '_')}}">Download All (zip)</a>-->
                                <a class="download-btn" href="javascript:void(0)" ng-click="downloadZip()">Download all (ZIP)</a>
                            </div>
                        </div>
                    </div><!-- /File Table Header -->
                </div><!-- /B SIDE container -->
                <!-- File Table Content Wrapper-->
                <div class="file-content-wrapper">
                    <div ng-if="temporary_node.files && temporary_node.files.length!==0" class="form-group">
                        <div ng-repeat="($index, file) in temporary_node.files track by $index" class="file-item">
                            <div class="row">
                                <!-- Status Column -->
                                <div class="col-md-2">
                                    <div  id="statuses" class="file-statuses" data-toggle="dropdown" ng-if="board.edit_board==='edit'">
                                        <span class="file-status" ng-class="{'open_status': file.file_status==='open', 'delivered': file.file_status==='delivered', 'transferred': file.file_status==='transferred', 'modified': file.file_status==='modified', 'released': file.file_status==='released'}"></span>
                                        <i class="fa fa-angle-down angle-down"></i>
                                    </div>
                                    <div id="statuses" class="file-statuses" ng-if="board.edit_board==='no_edit'">
                                        <span class="file-status"  ng-class="{'open_status': file.file_status==='open', 'delivered': file.file_status==='delivered', 'transferred': file.file_status==='transferred', 'modified': file.file_status==='modified', 'released': file.file_status==='released'}"></span>
                                        <i class="fa fa-angle-down angle-down"></i>
                                    </div>
                                    <ul class="dropdown-menu item-status" role="status" aria-labelledby="statuses">
                                        <li ng-click="changeFileStatus($index, 'open')" ng-class="{'active': temporary_node.files[$index].file_status === 'open'}"><a href="javascript:void(0)"><span class="open_status"></span>Open</a></li>
                                        <!--<li ng-click="changeFileStatus($index, 'delivered')"><a href="javascript:void(0)" ><i class="fa" ng-class="{'fa-square-o': file.file_status != 'delivered', 'fa-check-square-o': file.file_status == 'delivered'}"></i> Delivered</a></li-->
                                        <li ng-click="changeFileStatus($index, 'transferred')" ng-class="{'active': temporary_node.files[$index].file_status === 'transferred'}"><a href="javascript:void(0)"><span class="transferred"></span>Transferred</a></li>
                                        <li ng-click="changeFileStatus($index, 'modified')" ng-class="{'active': temporary_node.files[$index].file_status === 'modified'}"><a href="javascript:void(0)"><span class="modified"></span>Modified</a></li>
                                        <li ng-click="changeFileStatus($index, 'released')" ng-class="{'active': temporary_node.files[$index].file_status === 'released'}"><a href="javascript:void(0)"><span class="released"></span>Released</a></li>
                                    </ul>
                                </div><!-- Status Column -->
                                <!--file info column-->
                                <div class="col-md-7">
                                    <div class="file-name-container">{{ file.file_name }}</div>
                                    <div class="file-info">{{ file.file_date | toDate | date:"dd.MM.yy"}} | {{ file.user }}</div>
                                    <div class="file-comment">{{ file.file_comment}}</div>
                                </div>
                                <div class="col-md-3 action-links text-right"><!--file info column-->
                                    <!-- file Actions-->
                                    <div class="file-actions">
                                        <a href="javascript:void(0)" ng-click="delete_file($index)" ng-if="board.edit_board==='edit'" ><span class="ico ico-delete"></span></a>
                                        <a href="javascript:void(0)" ng-if="board.edit_board==='no_edit'" ><span class="ico ico-delete"></span></a><!--confirm-click="Would you like to delete this file?"-->
                                        <!--<a href="file_download?mime={{ file.file_name | fileExtension }}&title={{ file.file_name }}&token={{file.file_path | Base64encode}}"><i class="fa  fa-download "></i></a>-->
                                
                                        <a download="{{file.file_name}}" href="{{file.file_path}}" title="Download file"><span class="ico ico-upload"></span></a>
                                        <a href="javascript:void(0)" data-ng-click="expandForm($event, $index+'d')" title="Upload new version of the file"><span class="ico ico-replace"></span></a>
                                    </div><!-- file Actions-->
                                </div>
                                <div class="col-md-12 form-class">
                                    <file-replace user="user" index="$index" comment="file.file_comment" change-file-data="fileDataChange(index, data)" board-id="board.id" board-uid="temporary_node.uid"></file-replace><!-- /File Uplad Component -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-content-wrapper">
                        <h4>Old URL</h4>
                        <div class="form-group input-group">
                            <input type="text" ng-if="board.edit_board==='edit'" class="form-control" placeholder="Enter the URL of the old page..." id="old_page_url"  >
                            <input type="text" ng-if="board.edit_board==='no_edit'" class="form-control" disabled placeholder="Enter the URL of the old page..."   >
                            <label class="input-group-btn">
                                <span class="btn btn-default" ng-if="board.edit_board==='edit'" ng-click="saveOldLink()">Save<span class="ico ico-lock-s"></i></span>
                                <span class="btn btn-default" ng-if="board.edit_board==='no_edit'">Save<span class="ico ico-lock-s"></i></span>
                            </label>
                        </div>
                        <label class="form-group">
                            <input type="checkbox" ng-if="board.edit_board==='edit'" id="transfer_oldcontent"/>
                            <input type="checkbox" ng-if="board.edit_board==='no_edit'" disabled   /> Transfer the content completely from the old page
                        </label>
                    </div>
                </div><!-- /File Table Content Wrapper-->
                <div class="page-delete-wrapper">
                    <button ng-if="board.edit_board==='edit'" type="button" ng-click="deleteSelectedPage()" class="btn btn-transparent" ><span class="ico ico-delete-page"></span><span class="center-block">Delete page</span></button>
                    <button ng-if="board.edit_board==='no_edit'" type="button"  class="btn btn-transparent" ><span class="ico ico-delete-page"></span><span class="center-block">Delete page</span></button> <!--confirmed-click="deletePage()" confirm-click="Would you like to delete this page?"-->
                </div>
            </div>
        </div>
    </div>

<!-- Settings Modal Component -->
<settings change-title="changeBoardTitle(title)" del-board="boardDelete()" board-name="{{board.name}}"></settings><!-- /Settings Modal Component -->

<!-- New Board Modal -->
<new-board modal-status="modal_status" change-status="changeModalStatus(status)" board-length="$parent.boards_names.length" board="$parent.boards_names" transfering-board="transferBoard(name, index)" add-new-board="addNewBoard(name, index)"></new-board><!-- /New Board Modal -->

<!-- Delete Page Modal Component -->
<delete-page-modal></delete-page-modal><!-- /Delete Page Modal Component -->

<!-- Delete Page Conformation Component -->
<delete-page-confirmation></delete-page-confirmation><!-- /Delete Page Conformation Component -->

<confirm-delete-file confirm-delete-action="confirmDeleteFile(index)" delete-file-index="fileIndex"></confirm-delete-file>

<stay-lock-modal confirm-delete-action="confirmDeleteFile(index)" delete-file-index="fileIndex"></stay-lock-modal>

<lock-board-modal></lock-board-modal>

<file-restriction></file-restriction>

<file-limitation></file-limitation>