<div id="deleteBoardPageFileConformation" class="modal fade" data-keyboard="false" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content"><!--{{form_board.$valid}}-->
            <div class="modal-body">
                <span class="close-times" aria-hidden="true" data-dismiss="modal">&times;</span>
                <!-- BOARD -->
                <div class="login-title-holder">
                    <h2 class="login-title">Are you sure you want to delete this file!</h2>
                </div>
                <div class="form-group">
                    <p>After submit there no turning back.</p>
                </div>
                <button type="button" class="btn btn-primary login-btn" data-ng-click="deleteCurrentFile()">Okay <span class="ico ico-check"></span></button>
                <button type="button" class="btn btn-transparent btn-line-height" data-dismiss="modal" aria-label="Close">Cancel <span class="ico ico-reset">×</span></button>
            </div>     
        </div>
    </div>
</div>