<!-- Modal -->
<div id="newBoardModal" class="modal fade" data-keyboard="false" data-backdrop="static"  role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->

        
        <div class="modal-content"><!--{{form_board.$valid}}-->
            
                
                    <!-- <div class="modal-header">
                        <button data-ng-if="boardLength!==0" type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">New Board</h4>
                    </div>-->
                    <div class="modal-body">
                        <i data-ng-if="boardLength!==0" class="fa fa-times fa-2x close-times"  aria-hidden="true" data-dismiss="modal"></i>
                        <!-- BOARD -->
                        <div ng-show="modalStatus==='board'">
                            <form name="form_board"  ng-submit="form_board.$valid && addBoard()" novalidate>
                                <div style="padding:80px 80px 80px 80px">
                                    <div data-ng-if="boardLength===0">There are no inital boards detected you must enter name of the board to continue.</div>
                                    <div class="login-title-holder">
                                        <!--<span class="fa-stack fa-lg" style="color:#ccc">
                                            <i class="fa fa-square-o fa-stack-2x"></i>
                                            <i class="fa fa-info fa-stack-1x"></i>
                                        </span>-->
                                        <h2 class="login-title" ><strong>Name your board</strong></h2>
                                        <p style="margin-top:10px">Enter the name of your new board (for example "France")</p>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error': form_board.$submitted && form_board.board_name.$invalid }" >
                                       
                                        <input type="text" name="board_name" class="form-control input-lg" placeholder="Enter name..." ng-model="name" required />
                                        <div ng-messages="form_board.$submitted && form_board.board_name.$error" class="help-block">
                                            <div ng-message="required">Name is required</div>
                                        </div>
                                    </div>
                                    <button  class="btn  btn-primary login-btn color-btn" type="submit" data-ng-if="boardLength===0">CREATE NEW BOARD</button>
                                    <button  class="btn  btn-primary login-btn color-btn" type="button" data-ng-if="boardLength!==0" ng-click="change_status('transfer')">CREATE NEW BOARD</button>
                                    <!--<button type="button" class="btn btn-default" data-dismiss="modal" data-ng-if="boardLength!==0" data-ng-click="resetvalue()">CLOSE</button-->
                                    <!--<div ng-if="error" class="alert alert-danger">{{error}}</div>-->
                                </div>
                            </form>
                        </div><!-- BOARD -->


                        <!-- TRANSFER -->
                        <div ng-show="modalStatus==='transfer'">
                             <div style="padding:80px 70px 80px 70px">
                                 <form name="transfer_board"  ng-submit="addBoard()" novalidate>
                                    <div class="login-title-holder">
                                        <h2 class="login-title" ><strong>Pickup your board</strong></h2>
                                        <br/><br/>
                                    </div>
                                    <div class="clearfix transfer">
                                        <div class="pull-left">
                                            <button  class="btn  btn-default btn-transfer" type="button" ng-click="change_status('set_transfer')" style="text-align: left;">
                                                <div style="text-align: left;display:inline-block;vertical-align:middle">
                                                    <strong>Transfer the sitemap<br />for your new board<strong>

                                                </div>
                                                <div style="display:inline-block;vertical-align:middle">
                                                    <i class="fa fa-exchange fa-2x"></i>
                                                </div>
                                            </button>
                                            <br/><br/>
                                            <p style="display:block">Transfer the site map of<br/> the board "Board Lorem<br/> Ipsum" to your new board</p>
                                        </div>
                                        <div class="pull-right">    
                                            <button  class="btn  btn-default btn-transfer"  type="submit">
                                                <div style="text-align: left;display:inline-block;vertical-align:middle"><strong>Create new board<br />without sitemap<strong></div>
                                                <div style="display:inline-block;vertical-align:middle"><i class="fa fa-plus fa-2x"></i></div>
                                            </button>
                                            <br/><br/>
                                            <p><pdiv style="display:block">Create an empty<br/>new board</p>
                                        </div>
                                    </div>
                                    
                                </form>
                            </div>
                        </div><!-- /TRANSFER -->


                        <!-- SET_TRANSFER -->
                        <div ng-show="modalStatus==='set_transfer'">
                             <div style="padding:80px 70px 80px 70px">
                                 <form name="form_board"  ng-submit="form_board.$valid && addBoard()" novalidate>
                                    <div class="login-title-holder">
                                        <h2 class="login-title" ><strong>Transfer data to board</strong></h2>
                                        <br/><br/>
                                    </div>
                                    {{}}
                                    <div class="form-group">
                                        <label for="sel1">Select board:</label>
                                        <select class="form-control input-lg" ng-options="obj.id as obj.name for obj in board" ng-model="sel_board">
                                           <option value="">Select board</option>
                                        </select>
                                    </div>
                                    <button  class="btn  btn-primary login-btn color-btn" type="submit" data-ng-if="boardLength===0">CREATE NEW BOARD</button>
                                    <pre>{{ board }}</pre>
                                </form>
                            </div>
                        </div><!-- /SET_TRANSFER -->

                    </div>
                 
        </div>
    </div>
</div>