<div id="settingsModal" class="modal fade" data-keyboard="false" data-backdrop="static"  role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content"><!--{{form_board.$valid}}-->
            <div class="modal-body">
                <span class="close-times" aria-hidden="true" data-dismiss="modal">&times;</span>
                <!-- BOARD -->
                <form name="rename_board" ng-submit="rename_board.$valid && setNewName($event)" novalidate>
                    <div class="login-title-holder">
                        <h2 class="login-title">Settings</h2>
                    </div>
                    <div class="form-group">
                        <p>Change the name of your selected board.</p>
                    </div>
                    <div class="form-group no-bottom-margin" ng-class="{ 'has-error': rename_board.$submitted && rename_board.board_name.$invalid }">
                            <input type="text" name="board_name" class="form-control input-lg" placeholder="Enter name..." autocomplete="off" ng-model="boardName"  required />
                            <div ng-messages="rename_board.$submitted && rename_board.board_name.$error" class="help-block no-bottom-margin">
                                <div class="text-right">
                                    <span href="javascript:void(0);" ng-click="deleteBoard()" class="btn btn-transparent">Delete Board <span class="ico ico-reset">×</span></span>
                                </div>
                                <div ng-message="required">Name is required</div>
                            </div>
                        </div>
                    <button type="submit" class="btn btn-primary login-btn">Save <span class="ico ico-lock-w"></span></button>
                </form>
            </div>     
        </div>
    </div>
</div>