/* General */
html, body {
    position: relative;
    height: 100% !important;
}
body {
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    font-size:13px;
    color: #564f4f;
    background: url(/public/assets/img/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x:hidden;
}
h1 {
    font-size: 29px;
    font-weight: bold;
    margin-bottom: 18px;
}
.btn {
    font-size: 13px;
    text-transform: uppercase;
    outline: 0;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}
.btn:hover,
.btn:active,
.btn:focus{
    outline: 0;
    color:#fff;
}
.color-btn{
    padding: 10px 18px 4px 18px;
    background: #ea5c18; /* Old browsers */
    background: -moz-linear-gradient(top, #ffc658 0%, #ea5c18 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffc658 0%,#ea5c18 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffc658 0%,#ea5c18 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc658', endColorstr='#ea5c18',GradientType=0 ); /* IE6-9 */
    color:#fff;
    border: 1px solid #ebeaea;
}
.color-btn:hover,
.color-btn:active,
.color-btn:focus{
    outline: 0;
    color:#fff;
    background: -moz-linear-gradient(top, #ea5c18 0%, #ea5c18 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ea5c18 0%,#ea5c18 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ea5c18 0%,#ea5c18 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea5c18', endColorstr='#ea5c18',GradientType=0 ); /* IE6-9 */
    border-color: #ebeaea;
}
.help-block {
    margin-top: 18px;
}
.form-control {
    font-size: 13px;
    height: 40px;
    border: 1px solid #ebeaea;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
label {
    font-weight: normal;
    margin-bottom: 8px;
}
::-webkit-input-placeholder {
    color: #505050;
    font-style: italic;
    font-weight: normal;
}
::-moz-placeholder {
    color: #505050;
    font-style: italic;
    font-weight: normal;
}
:-ms-input-placeholder {
    color: #505050;
    font-style: italic;
    font-weight: normal;
}
:-moz-placeholder {
    color: #505050;
    font-style: italic;
    font-weight: normal;
}
/* Icons */
.ico {
    display: inline-block;
    width: 15px;
    height: 22px;
    background: url(/public/assets/img/ico_sprite.png) no-repeat 0 0;    
}
.ico.ico-lock {
    background-position: 0 0;
    margin-right: 15px;
}
.ico.ico-login {
    background-position: 0 -50px;
    margin-left: 10px;
    vertical-align: text-top;
}
/* Custom */
.modal-content {
    width:560px;
    border-radius:0px
}
.main-content {
    height: 100%;
}
.login-holder {
    position: relative;
    width: 510px;
    margin: 0 auto;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background: #fff;
    padding: 55px 60px;
    -webkit-box-shadow: 0 0 7px 1px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 7px 1px rgba(0,0,0,.1);
    box-shadow: 0 0 7px 1px rgba(0,0,0,.1);
}
.close-times {
    position:absolute;
    right:0%;
    margin-right:17px;
    cursor:pointer;
}
.login-title-holder{
    margin:0px 0px
}

.login-title{
    display: inline-block;
    vertical-align: middle;
    margin-top: 6px;
    margin-bottom:0px
}
/* Loader */
#loadicon {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.2);
    z-index: 9999;
}
#loadicon svg {
    position:absolute;    
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    /*opacity:0.6;*/
}
/* Header */
header {
    width: 100%;
    position: relative;
    z-index: 3;
}
header > nav {
    padding: 10px 0px;
    color: #999999;
}
.navbar-right {
    margin-right: 0px; 
}
.user_info span {
    display: none;
    text-align: right;
    display: block;
}
.logout-button {
    margin-left: 10px;
    margin-right: 10px;
}
.logout i {
    font-size: 30px;
    margin-top: 1px;
    color:#999999;
    cursor:pointer;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}
.logout i:hover {
    color:#000;
} 

/*logo-area*/
.logo-area {
    background:#fff;
    padding: 24px 0 27px 0;
}
.logo-area img {
    vertical-align: baseline;
}
.logo-area span {
    vertical-align: baseline;
    font-size: 21px;
    color: #999;
    display: inline-block;
    margin-left: 30px;
}
.board-legend{
    height:20px;
    text-align: center;
}

.board-legend > div > label{
    width:90px;
    height:5px;
    display:inline-block;
    float:left;
}
.board-legend > div > div > label {
    width:90px;
    display:inline-block;
    float:left;
    font-weight:normal;
    font-size:12px
}
/* Board nav */
.body-app-container .navbar-default .navbar-nav > li > a,
.body-app-container .navbar-default .navbar-text {
    color: #777;
    font-weight:bold;
}
.body-app-container .navbar-default .navbar-nav>.active>a,
.body-app-container .navbar-default .navbar-nav>.active>a:focus,
.body-app-container .navbar-default .navbar-nav>.active>a:hover,
.body-app-container .navbar-default .navbar-nav .active > a {
    color:#FF6633;
    background-color: #FFFFFF;
    font-weight: bold;
    border-radius:3px 3px 0px 0px;
}
.body-app-container .nav-bar-overiding {
    padding-top: 10px;
    padding-left: 0px;
    background-color: transparent; /* #E4E4E4; */
    border-bottom:0px solid transparent;
}
.body-app-container .navbar-nav > li {
    margin-right:5px;
}
.body-app-container .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom:0px;
}
.body-app-container .navbar-nav .active {
    border:1px solid #ccc;
    border-bottom:none;
    border-radius:3px 3px 0px 0px;
}
.body-app-container .navbar-default .navbar-nav .active > a {
    color:#FF6633;
    font-weight: bold;
    border-radius:3px 3px 0px 0px;
}
/*Bootstrap overides*/
@media (min-width: 1200px) {
    .container {
        width: 1440px;
    }
}
.btn-transfer{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
color:#444 !important;
    line-height:normal;
    padding-top:20px;
    padding-bottom:20px
}

.transfer p{
    color:#777
}

.transfer i {
    padding-left:5px;
}

    .no-bottom-margin{
        margin-bottom:0px !important
    }
    .content-tool-body{
        min-height:90%;
        border:1px solid #ccc;
        background-color:#fff;
        position:relative; 
        margin-top:-1px;
        width:100%;
        margin-bottom:60px;
    }
    .aside{
        width:60%;min-height:100%;
        background-color: #fff
    }
    .aside h1:before{
        font-style:italic;
    
    }    
    .bside{
        width:40%;
        min-height:100%;
        position:relative;
        background-color: #fff;
        right:0%; 
    }

    /* angular-ui-tree css file */
    .angular-ui-tree-empty{
        border:1px dashed #bbb;
        min-height:100px;
        background-color:#e5e5e5;
        background-image:-webkit-linear-gradient(45deg,#fff 25%,transparent 25%,transparent 75%,#fff 75%,#fff),-webkit-linear-gradient(45deg,#fff 25%,transparent 25%,transparent 75%,#fff 75%,#fff);
        background-image:-moz-linear-gradient(45deg,#fff 25%,transparent 25%,transparent 75%,#fff 75%,#fff),-moz-linear-gradient(45deg,#fff 25%,transparent 25%,transparent 75%,#fff 75%,#fff);
        background-image:linear-gradient(45deg,#fff 25%,transparent 25%,transparent 75%,#fff 75%,#fff),linear-gradient(45deg,#fff 25%,transparent 25%,transparent 75%,#fff 75%,#fff);
        background-size:60px 60px;background-position:0 0,30px 30px
    }
    .angular-ui-tree-nodes{
        display:block;
        position:relative;
        margin:0;
        padding:0;
        list-style:none;
    }
    .angular-ui-tree-nodes 
    .angular-ui-tree-nodes{
        padding-left:35px
    }
    .angular-ui-tree-node,
    .angular-ui-tree-placeholder{
        display:block;
        position:relative;
        margin:0;
        padding:0;
        min-height:20px;
        line-height:20px;
    }
    .angular-ui-tree-hidden{
        display:none;
    }
    .angular-ui-tree-placeholder{
        margin:5px 0;
        padding:0;
        min-height:30px;
    }
    .angular-ui-tree-handle{
        display:inline-block;
        cursor:move;
        text-decoration:none;
        font-weight:700;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        box-sizing:border-box;
        min-height:20px;
        line-height:25px !important;
    }
    .angular-ui-tree-drag{
        position:absolute;
        pointer-events:none;
        cursor:move;
        z-index:999;
        opacity:.8
    }
    /*angular ui styles*/
    /*angular ui custom*/
    .handle-content .btn {
        margin-right: 8px;
    }
    .angular-ui-tree-handle {
        background: #f8faff;
        border: 1px solid #dae2ea;
        color: #7c9eb2;
        padding: 10px 6px;
        margin:5px 0px;
      /*  line-height:1.2*/
    }
    .angular-ui-tree-handle:hover {
        color: #438eb9;
        background: #f4f6f7;
        border-color: #dce2e8;
    }
    .angular-ui-tree-placeholder {
        background: #f0f9ff;
        border: 2px dashed #bed2db;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .group-title {
        background-color: #687074 !important;
        color: #FFF !important;
    }
    .handle-content{
        border:1px solid #ccc;
        height:40px;
        width:0px;
        line-height:1.9;
        border-radius:4px 0px 0px 4px;
        padding-left:4px;
        padding-right:4px
    }
    .list-body-content{
        padding:8px;
        border-left:none;
        line-height:1.7;
        border-radius:0px 4px 4px 0px;
        color:#929292;
        height:40px;
        background: rgba(255,255,255,1);
        background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 86%, rgba(237,237,237,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(86%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
        background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 86%, rgba(237,237,237,1) 100%);
        background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 86%, rgba(237,237,237,1) 100%);
        background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 86%, rgba(237,237,237,1) 100%);
        background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 86%, rgba(237,237,237,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
    }
    .list-body-content>span, .list-body-content>a{
        cursor:pointer !important
    }
    .list-body-content input{
        line-height:normal;
    }
    .minus, .plus{
        visibility:hidden;float:right
    }
    .bgColor, .bgColor:hover, .bgColor-handle, .bgColor-handle:hover{
        color:#FF6633 !important;
        background:#ffffff !important;
        border:1px solid #FF6633 !important;
    }  
    .bgColor, .bgColor:hover{
        border-left:0px solid transparent !important;
    }  

    /* Handlebar status */
    .open_status{
        background-color:#c6c6c5 !important
    } 
    .delivered{
        background-color:#4b68ba !important
    } 
    .transferred{
        background-color:#95c8f8 !important
    } 
    .modified{
        background-color:#f9b123 !important
    } 
    .released{
        background-color:#c0db55 !important
    } 

    /*page content layout*/
    .bside-container{
        position:relative;
        float:right;
        height:100%;
        background-color:#fbfafa;
        width:calc(100% - 41px);
        border-left:1px solid #eee;
        right:0px;
        -webkit-box-shadow: -11px 1px 19px -15px rgba(0,0,0,0.75);
        -moz-box-shadow: -11px 1px 19px -15px rgba(0,0,0,0.75);
        box-shadow: -11px 1px 19px -15px rgba(0,0,0,0.75);
    }
    .page-content {
        margin: 0px;
    }
    .sidebar-content-wrapper{
        margin: 40px;/*40px*/
    }
    .sidebar-content-wrapper h2{
        font-weight:bold;
    }
    .file-content-wrapper{
        padding:10px 40px;
        left:0px;
        width:100%;
        background-color:#f3f3f3
    }

    .close-handle{
        -webkit-box-shadow: -2px 0px 1px 1px rgba(0,0,0,0.43);
        -moz-box-shadow: -1px 0px 1px 0px rgba(0,0,0,0.20);
        box-shadow: -1px 0px 1px 0px rgba(0,0,0,0.20);
        border:1px solid #eee;
        border-right:none;
        margin-top:30px;
        padding:5px 15px;
        background-color:#fbfafa;
        position:absolute;
        margin-left:-41px;
        cursor:pointer;
    }
    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #ccc;
        margin: 1em 0;
        padding: 0; 
    }
    .file-statuses{
        margin-top:12px
    }
    .file-status {
        vertical-align:bottom;
        display:inline-block;
        border:1px solid #ccc;
        border-radius:15px;
        width:20px;
        height:20px;
        cursor:pointer;
    }
    .file-actions{
        margin-top:12px
    } 
    .file-actions i {
        font-size:18px;
        cursor:pointer;
    }
    .file-comment{
        margin-top:5px;
        padding-left:15px;
        border-left: 1px solid #ccc;
    }
    .file-actions a,
    .file-actions a:link,
    .file-actions a:active{
        color:#444;
    }
    .btn-stretched{
        display:block;
        width:100%;
        line-height:10;
    }
    /*nested list*/
    .nested-list-container{
        margin:30px 30px;
        position:relative;
    }

    .body-app-container{
        min-height:90%;
        width:90%;
        left:5%;
        position:absolute;
        z-index:1;
    }
    .new-page{
        position:absolute;
        z-index:3;
        right:0%;
    }
    .no-file{
        text-align:center;
        padding-top:10px;
    }
    .file-table-header{
        margin:0px 40px;
        font-weight:bold;
    }
    .angle-down{
        position:relative;
        margin-bottom:-10px;
        line-height:normal;
    }
    .file-name-container{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .btn-line-height{
        line-height: 1.8;
    }
    .breadcrumb{
        font-size:16px;
        background-color:transparent;
        padding-left:0px

    }
    .badge-absolute{
        margin-top:-5px;
        margin-left:-10px;
        position:absolute;
    }