body{
    background-color:#f2f2f2;
    font-size:14px
}

.modal-content {
    width:560px;
    border-radius:0px
}

.login-holder{
    background:#fff;
    padding:90px 60px;
    -webkit-box-shadow: -1px -1px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -1px 13px 0px rgba(0,0,0,0.75);
    box-shadow: -1px -1px 13px 0px rgba(0,0,0,0.75);margin-top:50;
    margin-top:calc(50% - 90px);
}
.close-times{
    position:absolute;
    right:0%;
    margin-right:17px;
    cursor:pointer;
}
.login-title-holder{
    margin:0px 0px
}

.login-title{
    display: inline-block;
    vertical-align: middle;
    margin-top: 6px;
    margin-bottom:0px
}
.color-btn{
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eaa552+0,ed661b+100 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d8b536+0,ed661b+100 */
background: #d8b536; /* Old browsers */
background: -moz-linear-gradient(top, #d8b536 0%, #ed661b 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #d8b536 0%,#ed661b 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #d8b536 0%,#ed661b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8b536', endColorstr='#ed661b',GradientType=0 ); /* IE6-9 */
line-height:2;
border:1px solid #ccc !important;
}
.color-btn:hover,
.color-btn:active,
.color-btn:focus{
    border:1px solid #ccc !important;
    background:#cbcaca !important;
}

.login-label{
    font-weight:normal
}
/*Bootstrap overides*/
.form-control{
    border-radius: 0px!important;
}

.btn-transfer{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
color:#444 !important;
    line-height:normal;
    padding-top:20px;
    padding-bottom:20px
}

.transfer p{
    color:#777
}

.transfer i {
    padding-left:5px;
}